:root {
    --color-light: #ffffff;
    --color-dark: #000000;
    --color-pink: #dc143c;
    --transition: .5s;
    --font-body: "Poppins", sans-serif;
}

* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
    font-family: var(--font-body);

}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-light);
    font-weight: 600;
    transition: var(--transition);
}

a:hover {
    color: var(--color-pink);
}


.container {
    width: 100%;
    height: 100vh;   
    background-image: linear-gradient( to top, rgba(0, 0, 0, .8), 
    rgba(0, 0, 0, .3)),
    url(../images/vinicolas/wine-1938924_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.header-page {
    /* background-color: var(--color-pink); */
    width: 100%;
    height: 100px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header-page h1{
    color: var(--color-light);
    font-size: 4vmin;  /*5% do menor viewport */

}

.header-page ul {
    display: flex;
    gap:30px;
}

/**************************** fim .header-page ******************************************/
/************************************ hero ************************************/
.hero{
    width: 100%;
    height: calc(100vh - 100px); /*calculo do restante da pagina tirando o header para n ter barra */
    display: flex; /*permite a centralização*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: var(--color-light);
    text-align: center;



}
.hero h2{
    font-size: clamp(24px, 4vw, 50px);
}

.hero p{

    width: 70%;
    text-wrap: balance;
    line-height: 1.7;
}
.mensagem_menor_idade{
    width: 100%;
    height: calc(100vh - 100px); /*calculo do restante da pagina tirando o header para n ter barra */
    /* background-color: aqua; */
    display: flex; /*permite a centralização*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: var(--color-light);
    text-align: center;



}
.mensagem_menor_idade p{

    width: 100%;
    text-wrap: balance;
    line-height: 1.7;
}
.btn{
    color: var(--color-light);
    border: 3px solid var(--color-pink);
    padding: 8px 30px;
    background-color: var(--color-pink);
    border-radius: 70px;
    transition: background-color var(--transition);

}
.btn:hover{  
    background-color: transparent;
}

.input-login{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 15px;
}

.input-senha{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 20px;
}

.input-nome{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 24px;
}

.input-telefone{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 5px;
}

.input-email{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 25px;
}

/************************************** fim hero ******************************/

.wines {
    width: 80%;
    min-height: calc(100vh - 500px);
    margin: 40px auto;


}
.wines h2 { 
    margin: 30px 0;
    color: var(--color-light);
}

.wines-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.wines-item {
    width: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    box-shadow: 1px 1px 30px #ccc;
    transition: scale .7s;
    background-color: var(--color-light);


}
.wines-item img {
    width: 30%;
}
.detalhes-vinho {
    color: #000000;
    padding: 10px 0 20px 0
}

.wines-item:hover {
    scale: 1.1;
}

.box-final {
    border-radius: 30px;
    height: 20vh;
    width: 40%;
    background-color: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;


}
.box-final ul {
    padding: 15px;
    border-radius: 0 15px;
    color: var(--color-pink);
    }
.box-final h3{
    color: var(--color-pink);
}

.vinhos-descrição{
    width: 100%;
    height: 25px; /*calculo do restante da pagina tirando o header para n ter barra */
    /* background-color: aqua; */
    display: flex; /*permite a centralização*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-light);
    text-align: center;
    padding: 300px 0 0 0 ;
    

}
.vinhos-descrição p{
    text-align: center;
    justify-content: center;
    text-wrap: balance;
    line-height: 1.7;
}

.vinhos-descrição img {
    width: 200px;
    padding: 60px 0 ;
}
